body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: whitesmoke;
    text-align: center;
}
nav {
   background-color: darksalmon;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px;
    color: antiquewhite;
    display: block;
    text-decoration: none;
}

.cell {
    border: 1px solid black;
}

#imgPersoon1, #imgPersoon2 {
    width: 200px;
}